.thanks__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.thanks__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form__button-submit {
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    background-color:#a8957f;
    border-radius: 4px;
    text-align: center;
}